import logging
from importlib.metadata import PackageNotFoundError, version

from rich.logging import RichHandler

try:
    __version__ = version("{{ project_name }}")
except PackageNotFoundError:
    # package is not installed
    __version__ = "0.0.0-dev"


FORMAT = "%(message)s"
logging.basicConfig(
    level="CRITICAL",
    format=FORMAT,
    datefmt="[%X]",
    handlers=[RichHandler(rich_tracebacks=True, tracebacks_suppress=["rich"])],
)
