# {{module_name | upper }}


![Static Badge](https://img.shields.io/badge/made_with-python_{{python}}-red)


{{ project_description }}

## Getting Started

### Installation


To get started with this module you will need to have

- a compatible version of python (`python{{ python }}+`).
- ...


You can install from pypi using : `pip install {{ project_name }}`

Or from this repository using : 

```
pip install git+HTTPS_PROJECT_URL
```

For the dev version you need to clone this repository : 

```
git clone HTTPS_PROJECT_URL
cd {{ project_name }}
pip install -e .
```

### Command Line


run-{{module_name}} : (TBA: description)

```
Usage: run-{{module_name}} [-h] [-q] [-d] [-i] [--version]

Options:
  -h, --help   show this help message and exit
  -q, --quiet  Silence all outputs, except errors
  -d, --debug  Set debug logging
  -i, --info   Set Informative (verbose) logging.
  --version    show program's version number and exit
```


### Python API

TBA
